---

const allGats = await Astro.glob('./*.md');

---

<p>These are my gats</p>

<ul>
  {allGats.map((gat) => (<div>
    <p>url {gat.url}</p>
    <p>id {gat.frontmatter.id}</p>
    <p>title {gat.frontmatter.title}</p>
    </div>))}
    

  </ul>
