---
const { post } = Astro.params
const { coloret, titol } = Astro.props

export async function getStaticPaths() {
  return [
    { params: { post: 'test' },  props:{ coloret: "red", titol:"color vermell"} },
    { params: { post: 'test2' }, props:{ coloret: "green", titol: "color verd"} },
    { params: { post: 'test3' }, props:{ coloret: "blue", titol: "color blau"} },
    { params: { post: 'test4' }, props:{ coloret: "yellow", titol: "color groc"} },
  ]
}
---

<h3>{post}</h3>
  <h1 style={"color: "+coloret} >{titol} </h1>
