---
import Layout from '../layouts/Layout.astro';
const titol = "Hola món!"

---
<Layout titol={titol} >

	<p class="lg:text-red-500">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia veritatis ducimus quam, laborum temporibus dolor possimus officia earum tenetur mollitia sunt excepturi repellendus voluptatum? Tempore quis incidunt impedit quidem alias?
</p>

<div class="grid sm:grid-cols-2 md:grid-cols-3">	
	<p>Column</p>
	<p>Column</p>
	<p>Column</p>
	<p>Column</p>
	<p>Column</p>
	<p>Column</p>
	<p>Column</p>
</div>	

</Layout>


