---
import General from "../layouts/General.astro";
import Llibre from "../components/Llibre.astro";
---

<style>
	header h1 {
		color: red;
		border-bottom: 1px solid red;
		padding-bottom: 20px;
		margin-bottom: 40px;
	}

</style>

<General>



	<main>
		<Llibre titol="Hipopotam" imatge="hippo.jpg" url="hippo" />
		<Llibre titol="Gos" imatge="abracadabra.jpg" url="abracadabra" />
		<Llibre titol="Nen" imatge="adormir.jpg" url="adormir" />
	</main>

</General>
