---
import Layout from '../layouts/Layout.astro';
const titol = "Hola món!"

---
<Layout titol={titol} >

	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia veritatis ducimus quam, laborum temporibus dolor possimus officia earum tenetur mollitia sunt excepturi repellendus voluptatum? Tempore quis incidunt impedit quidem alias?
</p>


</Layout>


