---
import General from '../layouts/General.astro';
import Indexbici from '../components/Indexbici.astro';
const allBicis = await Astro.glob("./bicis/*.md");
---

<General>
		<h1>Bikes</h1>


		<ul>
			{
				allBicis.map((bici) => (
					<Indexbici url={bici.url} nom={bici.frontmatter.title} />
					
				))
			}
		</ul>
</General>
